pkgbase = nosh
	pkgdesc = A suite of system-level utilities for initializing and running a BSD or Linux system, for managing daemons, for managing terminals, and for managing logging.
	pkgver = 1.38
	pkgrel = 1
	url = https://jdebp.eu/Softwares/nosh/index.html
	changelog = archnosh.changelog
	arch = x86_64
	license = custom:MIT Expat
	license = custom:FreeBSD
	license = custom:ISC
	license = custom:Simplified BSD
	makedepends = pax
	makedepends = docbook-xml
	makedepends = docbook-xsl
	makedepends = xmlto
	makedepends = redo-jdebp
	source = https://jdebp.eu/Repository/freebsd/nosh-1.38.tar.gz
	source = staging.patch
	source = maintenance-scripts.patch
	source = scriptletbuilder.sh
	source = nosh-bundles.install
	source = nosh-run-busybox-mdev.install
	source = nosh-run-debian-desktop-base.install
	source = nosh-run-debian-server-base.install
	source = nosh-run-freedesktop-kits.install
	source = nosh-run-freedesktop-system-bus.install
	source = nosh-run-kernel-vt.install
	source = nosh-run-klog.install
	source = nosh-run-local-syslog.install
	source = nosh-run-openssh-server.install
	source = nosh-run-suckless-mdev.install
	source = nosh-run-systemd-udev.install
	source = nosh-run-system-manager.install
	source = nosh-run-udev.install
	source = nosh-run-user-vt.install
	source = nosh-run-via-systemd.install
	source = nosh-run-virtualbox-guest.install
	source = nosh-service-management.install
	sha256sums = 603241430898c4e133880fdecc10bacd1ad8928d175cccc2cab1e626886282f4
	sha256sums = 623b713f7be88f5ab6fc0975dfd778172a4c682cccbbc74fe6b9c63f5ec6f064
	sha256sums = 247536be7ff4207bb5ece3199818e502bb07dd09ada65191f12ca98e5d885d19
	sha256sums = 669e73dddeb9e01f57f9d7a134352697f90178dc32c79847f2080326a1993dc9
	sha256sums = 907d92546845ab087be38515fcbd04bec68b68a250534063695e73646241454c
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = nosh-common

pkgname = nosh-guide

pkgname = nosh-exec

pkgname = nosh-service-management

pkgname = nosh-terminal-management

pkgname = nosh-terminal-extras

pkgname = nosh-zsh-completion

pkgname = nosh-systemv-shims

pkgname = nosh-systemd-shims

pkgname = nosh-upstart-shims

pkgname = nosh-execline-shims

pkgname = nosh-core-shims

pkgname = nosh-service-command-shim

pkgname = nosh-debian-shims

pkgname = nosh-openbsd-shims

pkgname = nosh-freebsd-shims

pkgname = nosh-bsd-shims

pkgname = nosh-ucspi-tcp-shims

pkgname = nosh-kbd-shims

pkgname = nosh-bundles

pkgname = nosh-run-system-manager

pkgname = nosh-run-debian-desktop-base

pkgname = nosh-run-debian-server-base

pkgname = nosh-run-kernel-vt

pkgname = nosh-run-user-vt

pkgname = nosh-run-via-systemd

pkgname = nosh-run-virtualbox-guest

pkgname = nosh-run-freedesktop-system-bus

pkgname = nosh-run-freedesktop-kits

pkgname = nosh-run-openssh-server

pkgname = nosh-run-appletalk

pkgname = nosh-run-udev

pkgname = nosh-run-systemd-udev

pkgname = nosh-run-busybox-mdev

pkgname = nosh-run-suckless-mdev

pkgname = nosh-run-vdev

pkgname = nosh-run-local-syslog

pkgname = nosh-run-klog

